.ContentView {
	line-height: 1.2;
	font-size: x-large;
}
.ContentView.isPageRoot {
	
}
.ContentView > .ElementList {
	padding: 0;
	margin: 0;
}
.ConfigChrome {
	position: fixed;
	bottom: 0;
	right: 0;
}
