.PanelManager {
	height: 100%;
}
.PanelManager > .children {
	height: 100%;
}
.PanelUIDimmer {
	position: fixed;
	background-color: rgba(0,0,0,0.1);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.PanelSheet {
	position: fixed;
	background-color: #fffefe;
	left: 0;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(0,0,10,0.1);
	border: 1px solid transparent;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height: 80vh;
	text-align: center;
}
.PanelSheet.position-bottom {
	bottom: 0;
}
.PanelSheet.position-top {
	top: 0;
}
