.FullyCentered {
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.FullyCentered > div {
	text-align: center;
}
.Button {
	color: #09d;
	cursor: default;
	display: inline-block;
	padding: 0.5em 1em;
	background-color: rgba(100,100,120,0.1);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1em;
	font-family: inherit;
	border: none;
	border-radius: 0;
	appearance: none;
	outline: none;
}
.TextField {
	font-family: inherit;
	background-color: rgba(100,100,120,0.1);
	font-size: inherit;
	padding: 4px 8px;
	outline: none;
	border: none;
}
.FloatingButton {
	margin: 20px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2D2923;
	color: #EEF1F4;
	box-shadow: 0px 0px 8px rgba(0,0,10,0.1);
	border-radius: 50%;
	cursor: default;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
