.AddSheetItem {
	width: 50px;
	text-align: center;
	margin: 10px;
	opacity: 0.8;
}
.AddSheetItem .fa {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}
.AddSheetItem > label {
	font-size: small;
	font-weight: bold;
}
