.AddSheet {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	color: #2D2923;
}
.AddSheet > div {
	display: flex;
	flex-direction: row;
}
.AddSheetElementGroup {
	text-align: left;
}
.AddSheetElementGroup > label {
	font-size: small;
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0.5;
	display: inline-block;
	margin: 10px;
	margin-bottom: 0;
}
.AddSheetElementGroup > .items {
	display: flex;
	flex-direction: row;
}
.AddSheetItem {
	width: 50px;
	text-align: center;
	margin: 10px;
	opacity: 0.8;
}
.AddSheetItem .fa {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}
.AddSheetItem > label {
	font-size: small;
	font-weight: bold;
}
