.TextElement {
	max-width: 800px;
	margin: auto;
}
.TextElement > .EditableText {
	outline: none;
	padding: 0 10px;
}
.TextElement > .EditableText:focus {
	user-select: auto;
	-webkit-user-select: auto;
}
